
html {
    font-size: 14px;
}
body {
    font-family: "Bodoni Moda SC", serif;
    background-color: #a6cce1;
    line-height: 1.5;
    text-wrap: balance;
}
a {
    text-decoration: none;
}
/*Start Navbar*/
.navbar-brand .logo,
.navbar-brand .logo-info {
    vertical-align: middle;
}
.navbar-brand .logo {
    margin-right: 0.625rem;
}
.navbar-brand .site-title {
    margin-bottom: 5px;
    font-size: 16px;

}
.navbar-brand .site-description {
    font-size: 10px;
    display: block;
    color: #ffffff;
}
.navbar {
    padding-block: 50px;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
}
.nav-item a.nav-link {
    color:#ffffff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: 400;
}
.navbar-toggler {
    padding: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.navbar-toggler svg {
    font-size: 15px;
}
.navbar-toggler:hover svg {
    color:#18c2e0;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.breadcrumb{
    background: white;
    border-radius: 30px;
    padding: 20px 100px 20px 20px;

}
.breadcrumb-item+.breadcrumb-item::before {
    color: var(--white-color);
}
.contact-location span{
    color: var(--primary-color);
}
.form-control,
.find-form input.form-control::placeholder,
.form-control:focus::placeholder {
    outline: none;
    box-shadow: none;
    color: white;
    background-color: white;

}
.form-control{
    border: 2px solid #707174;
}
.form-control:focus-visible,
.form-control:focus,.form-control:hover {
    border: 2px solid var(--primary-color);
}
form [class*="col"] {
    padding: 0 5px;
}
textarea{
    resize: none;
    height: 150px;
}
@media (max-width: 992px) {
    .contact-form{
        margin-top: 30px;
    }
    iframe{
        width: 100% !important;
    }

}
